<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Advanced Game of Life</title>
        <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="shadow" style="background-color: lightskyblue; padding: 16px; font-size: 32px; text-align: center;">
            Automat komórkowy - dwuwymiarowy
        </div>
        <div id="app">
            <div class="block shadow" style="background-color: lightskyblue; font-size: 20px;">
                "Gra w życie" jest automatem komórkowym wymyślonym przez brytyjskiego matematyka Johna Hortona Conwaya w 1970 roku.
                Ewolucja zależy od jej stanu początkowego oraz podanych reguł, po podaniu początkowej konfiguracji można obserwować jak układ się zmienia.
                "Gra w życie" jest kompletną maszyną Turinga.
            </div>
            <div class="block shadow">
                <div class="block">
                    <div class="shadow" style="background-color: lightskyblue">
                        <div class="block2">                        
                            Rozmiary planszy<br>
                            <input v-model.number="board.sizeX" type="number" min="1"/> / 
                            <input v-model.number="board.sizeY" type="number" min="1"/>
                        </div>
                        <div class="block2">
                            [żywe przeżywają] / [martwe ożywają]<br>
                            <input v-model.number="board.aliveSurvive" type="number"/> / 
                            <input v-model.number="board.dedResurrect" type="number"/>
                        </div>
                        <div class="block2" style="text-align: center;">                        
                            Próg generacji {{ board.generationThreshold }}<br>
                            <input v-model.number="board.generationThreshold" type="range" max="1" step="0.01"/>
                        </div>
                    </div>
                    
                    <div class="shadow" style="margin-top: 16px; background-color: lightskyblue;">
                        <div class="block2">                        
                            Ilość policzonych iteracji: {{ maxIterations }}<br>
                            Obecna iteracja: {{ currentIteration }}<br>
                            <input v-model.number="currentIteration" type="range" :max="maxIterations - 1"/>
                        </div>
                        <div class="block2" style="display: flex; justify-content: space-around;">                        
                            <button type="button" @click="initializeBoard(); drawBoard();">Rekalkuluj</button>
                            <button v-if="!modified" type="button" @click="generateBoardIncrement">Dodaj {{ increment }} iteracji</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block shadow">
                <canvas id="boardCanvas" class="shadow" :width="canvasSizeX" :height="canvasSizeY"></canvas>
            </div>
            <div class="block shadow">
                <canvas id="myChart" class="shadow" :width="canvasSizeX" :height="canvasSizeY"></canvas>
            </div>
        </div>

    </body>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="config.js"></script>
    <script src="app.js"></script>
</html>