body {
	font-family: 'Syne Mono', monospace;
	margin: 0;
}

input {
	font-family: inherit;
}

button {
	font-family: inherit;
	font-size: 16px;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin: 12px;
	border: none;
}

.shadow {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.block {
	padding: 16px;
	margin: 16px;
}

.block2 {
	padding: 8px;
	margin: 8px;
}

#boardCanvas {
	background-color: lightskyblue;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#app {
	width: 100%;
	display: flex;
	flex-flow: wrap row;
	justify-content: center;
}

input[type="range"] {
	width: 100%;
}